

/* -- the slider component -------------------------------------------------- */
.slider {
  
}


/* -- the component's header  ----------------------------------------------- */
.slider-header {
  
  padding: 10px;
  text-align: center;
  
}

.slider-toggle {
  
  height: 30px;
  margin: 0 10px;
  padding: 0 25px;

  border: none;
  border-radius: 20px;
  
  background-color: #dadfcb;
  transition: background-color 0.5s;
  
}

.slider-toggle:hover {
  
  background-color: #cbd2b6;
  color: black;
  
}

.slider-toggle-active {
  
  background-color: #b5c098;
  
}


/* -- the slider body ------------------------------------------------------- */
.slider-body {
  
  position: relative;
  
  /* to push the dots after the body: 
  - based on the height directly set on the slide content (here 620px on the layout_sidebar) 
  - value < 620px otherwise it's under the site footer (unclickable)*/
  height: 615px;
  width: 100%;
  
  overflow: hidden;
  
}

/* -- the slider content = slides */
.slider-content {
 
  position: absolute;
  
  /* height is directly set on the content otherwise plots won't shrink to fit */
  width: 100%;
  
  left: 200%;
  opacity: 0;
  transition: all 0.75s ease-out allow-discrete;
  
}

/* -- active slide */
.slider-active {
  
  opacity: 1;
  left: 0;
  
}

@starting-style {
  .slider-active {
    
    opacity: 0;
    
  }
}


/* -- the component's footer  ----------------------------------------------- */
.slider-footer {
  
  padding: 2px;

}

.slider-footer ul {
  
  margin: 0;
  padding: 0;
  
  text-align: center;
 
}

.slider-footer li {
  
  display: inline-block;
  
  width: 10px;
  height: 10px;
  border-radius: 100%;
  
  cursor:pointer;
  background-color: #dadfcb;
  transition: background-color 0.5s;
  
}

.slider-footer li:hover {
  
  background-color: #cbd2b6;
  
}

.slider-footer li.slider-dot-on {
  
  background-color: #b5c098;
  
}
